.posLetterA {
  position: absolute;
  top: 36%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.posLetterS {
  position: absolute;
  top: 59%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.posLetterD {
  position: absolute;
  top: 84%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.posLetterJ {
  position: absolute;
  top: 142px;
  left: 86%;
  transform: translate(-50%, -50%);
}

.posLetterK {
  position: absolute;
  top: 59%;
  left: 86%;
  transform: translate(-50%, -50%);
}

.posLetterL {
  position: absolute;
  top: 84%;
  left: 86%;
  transform: translate(-50%, -50%);
}