#screenpageModal{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.screenpageModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 4px solid rgb(68, 133, 173);
    width: 50%;
}

.startscreenInstruct{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.playerKeys{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.playerKeysInstruct{
    padding: 0 20px 0 20px;
}

#StartButton {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid rgb(74, 186, 0);
    background-color: rgb(105, 186, 0);
    color: white;
}